@using FramWork.HelloService;
@model PagedList.IPagedList<PersonLead>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lead2Deal | Bulk Lead Assignment";
    Layout = null;
}


<table class="table table-striped table-bordered table-hover" style="min-height:0px !important;">
    <thead>
        <tr>
            <th><input style="-webkit-appearance: checkbox !important; opacity: inherit !important; " type="checkbox" id="selectall"></th>
            <th><i class="fa fa-child"></i> Lead</th>
            <th><i class="fa fa-money"></i> Salary</th>
            @*<th><i class="fa fa-money"></i> Current Liablility</th>*@
            <th><i class="fa fa-money"></i> Expected Value</th>
            @*<th><i class="fa fa-calendar-o"></i> Expected Closing Date</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" style="-webkit-appearance: checkbox !important; opacity: inherit !important; " class="case" name="case" value="@item.Id">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td> @item.Person.FirstName @item.Person.LastName </td>
                <td style="text-align:right;">@string.Format("{0:C}", item.Salary).Replace("$", "QAR ") </td>
                @*<td style="text-align:right;">@string.Format("{0:C}", item.CurrentLiablility).Replace("$", "QAR ") </td>*@
                <td style="text-align:right;">@string.Format("{0:C}", item.ExpectedValue).Replace("$", "QAR ") </td>
                @*<td>@Convert.ToDateTime(item.ExpectedClosingDate).ToString("MMMM dd yyyy") </td>*@
            </tr>
        }
    </tbody>

</table>
<div id="LeadcontentPager">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <span id="spinner" style="display:none;" class="fa fa-spin"><i class="fa fa-spinner"></i> </span>
    @Html.PagedListPager(Model, page => Url.Action("getLeadList", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>