@model FramWork.HelloService.Person
@using Core;
@using FramWork.HelloService;
@{
    ViewBag.Title = "Lead 2 Deal | Edit Oppurtunity/ Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    HelloServiceClient client = new HelloServiceClient("BasicHttpBinding_IHelloService");
    FramWork.Models.FrameworkEntities db = new FramWork.Models.FrameworkEntities();
    var managepersonId = Session["managepersonId"];
     
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="@Url.Content("~/")Home/Index">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Sales</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">PipeLine</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Action("SalesAgentView", "SalesManagement")">Sales Agent View</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Content("~/")SalesManagement/ManagePerson/?id=@managepersonId">Manage Person</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Edit Person</a>
    </li>
</ul>
<div class="portlet light" id="form_wizard_1">
    <div class="portlet-title">
        <div class="caption caption-subject bold uppercase font-red-sunglo">
            <i class="fa fa-pencil-square bold uppercase font-red-sunglo"></i>
            Contact <span class="badge badge-warning">Opportunity</span> Edit  - <span class="step-title">
                Step 1 of 3
            </span>
        </div>

    </div>
    <div class="portlet-body form">
        <form action="#" class="form-horizontal" id="submit_form" method="POST">
            <div class="form-wizard">
                <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                        <li>
                            <a href="#tab1" data-toggle="tab" class="step">
                                <span class="number">
                                    1
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> Basic Information
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="step active">
                                <span class="number">
                                    2
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i>  Contact details
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab" class="step">
                                <span class="number">
                                    3
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> Confirm
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="bar" class="progress progress-striped" role="progressbar">
                        <div class="progress-bar progress-bar-success">
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="tab-pane active" id="tab1">
                            <h3 class="block">Provide your basic information</h3>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Is New<span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.PersonModeId, new SelectList(client.GetPersonModeLst(Login.OrganizationId).Select(a => new { Id = a.Id, Mode = a.Mode }), "Id", "Mode"), "Select", new { @class = "form-control validate[required]", @id = "PersonModeId", @name = "PersonModeId" })
                                            <span class="help-block">
                                                Provide  the person is new or existing
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @id = "Id", @name = "Id" } })
                                    @Html.HiddenFor(model => model.CreateDate, new { htmlAttributes = new { @id = "CreateDate", @name = "CreateDate" } })
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            RP Number <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.RPnumber, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "RPnumber", @name = "RPnumber", @maxlength = "49" } })
                                            <span class="help-block" >
                                                Provide  RP Number
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Passport Number <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Passport, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "Passport", @name = "Passport", @maxlength = "24" } })
                                            <span class="help-block">
                                                Provide  Passport Number
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Salutation <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @* @Html.DropDownList("Salutation", @ViewBag.LstSalutation as SelectList, "Select", new { @class = "form-control validate[required]", @id = "Salutation", @name = "Salutation" })*@
                                            @Html.DropDownListFor(model => model.SalutationId, new SelectList(client.GetSalutLst(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "SalutationId", @name = "SalutationId" })
                                            <span class="help-block">
                                                Provide Saluation
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            First Name <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "FirstName", @name = "FirstName", @maxlength = "49" } })
                                            <span class="help-block">
                                                Provide  First Name
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Middle Name
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "MiddleName", @name = "MiddleName", @maxlength = "49" } })
                                            <span class="help-block">
                                                Provide  Middle Name
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Last Name <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "LastName", @name = "LastName", @maxlength = "49" } })
                                            <span class="help-block">
                                                Provide Last Name
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Nick Name
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "NickName", @name = "NickName", @maxlength = "49" } })
                                            <span class="help-block">
                                                Provide Nick Name
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Gender
                                        </label>
                                        <div class="col-md-5">
                                            @*@Html.DropDownList("Gender", @ViewBag.LstGender as SelectList, "Select", new { @class = "form-control validate[required]", @id = "Gender", @name = "Gender" })*@
                                            @Html.DropDownListFor(model => model.GenderId, new SelectList(client.GetGenderLst(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "GenderId", @name = "GenderId" })

                                            <span class="help-block">
                                                Provide  Gender
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            DOB
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control validate[required] date-picker", @id = "Dob", @name = "Dob" } })

                                            <span class="help-block">
                                                Provide  DOB
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="block">Profile Picture</h3>
                            <div class="form-group">
                                <div class="control-label col-md-4">
                                    <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled" />
                                </div>
                                <div class="col-md-4">
                                    <div class="fileUpload btn btn-primary">
                                        <span>Click to select profile picture</span>
                                        <input id="uploadBtn" type="file" class="upload" />
                                    </div>
                                </div>

                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <img id="blah" src="#" alt="your image" style="width:100%;display:none;" />
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab2">
                            <h3 class="block">Provide  contact details</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Email <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "Email", @name = "Email", @maxlength = "49" } })
                                            <span class="help-block">
                                                Provide Email
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Mobile <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "Mobile", @name = "Mobile", @maxlength = "19" } })
                                            <span class="help-block">
                                                Provide your Mobile number
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Phone
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "Phone", @name = "Phone", @maxlength = "19" } })
                                            <span class="help-block">
                                                Provide your Phone number
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <h3 class="block">Provide  Address details</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Nationality
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.Nationality, new SelectList(client.GetCountryLst(Login.OrganizationId).Select(a => new { Id = a.Id, CountyName = a.CountyName }), "Id", "CountyName"), "Select", new { @class = "form-control validate[required]", @id = "Nationality", @name = "Nationality" })
                                            <span class="help-block">
                                                Provide  Country
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Language
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.LanguageId, new SelectList(client.GetLanguageLst(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "LanguageId", @name = "LanguageId" })
                                            <span class="help-block">
                                                Provide  Language
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Country
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.Country, new SelectList(client.GetCountryLst(Login.OrganizationId).Select(a => new { Id = a.Id, CountyName = a.CountyName }), "Id", "CountyName"), "Select", new { @class = "form-control validate[required]", @id = "Country", @name = "Country" })
                                            <span class="help-block">
                                                Provide  Country
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            State
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.State_province, new SelectList(client.GetStateLst(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "State_province", @name = "State_province" })
                                            <span class="help-block">
                                                Provide  state
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            City
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.City, new SelectList(client.GetCityLst(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "City", @name = "City" })
                                            <span class="help-block">
                                                Provide  City
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Location Lat/Long
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.LocationLatitude, new { htmlAttributes = new { @class = "form-control", @maxlength = "49" } })
                                            <span class="help-block">
                                                Provide  Location Latitude
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Locationlongitude, new { htmlAttributes = new { @class = "form-control", @maxlength = "49" } })
                                            <span class="help-block">
                                                Provide  Location Longitude
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Street
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "Street", @name = "Street", @maxlength = "99" } })
                                            <span class="help-block">
                                                Provide  Street
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Zip / Postal code
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.ZipPostalcode, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "ZipPostalcode", @name = "ZipPostalcode", @maxlength = "15" } })
                                            <span class="help-block">
                                                Provide   Zip / Postal code
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Occupation
                                        </label>
                                        <div class="col-md-5">
                                            @*@Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control validate[required]", @id = "Occupation", @name = "Occupation" } })*@
                                            @Html.DropDownListFor(model => model.Occupation, new SelectList(db.Occupation.Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "Location", @name = "Location" })
                                            <span class="help-block">
                                                Provide  Occupation
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Company
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.Company, new SelectList(client.GetPersonCompany(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "Company", @name = "Company" })
                                            <span class="help-block">
                                                Provide   Company
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4">
                                        Is Company not Listed
                                    </label>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="companyislisted" id="companyislisted" />
                                    </div>
                                    <div class="col-md-4">
                                        <a id="AddCompany" data-toggle="modal" href="#AddCompanyModal" class="btn btn-circle grey-cascade btn-xs">
                                            <i class="fa fa-building"></i> Add your Company Here
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab3">

                            <h1>Please Confirm by clicking submit button</h1>

                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="javascript:;" class="btn default button-previous">
                                    <i class="m-icon-swapleft"></i> Back
                                </a>
                                <a href="javascript:;" class="btn blue button-next">
                                    Continue <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                                <a href="javascript:;" class="btn green button-submit">
                                    Submit <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>




<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:80%; height:90%">
        <div class=" modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Person Company</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Name <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" id="Mcompany" class="form-control" name="Mcompany" />
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Company Mode <span class="required"> *</span>
                            </label>
                            <div class="col-md-5">
                              @Html.DropDownList("MCompanyMode", new SelectList(client.GetCompanyMode(Login.OrganizationId).Select(a => new { Id = a.Id, Mode = a.Mode }), "Id", "Mode"), "Select", new { @class = "form-control validate[required]", @id = "MCompanyMode", @name = "MCompanyMode", disabled = "disabled" })                               
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Country
                            </label>
                            <div class="col-md-5">
                                @Html.DropDownList("MCountry", new SelectList(client.GetCountryLst(Login.OrganizationId).Select(a => new { Id = a.Id, CountyName = a.CountyName }), "Id", "CountyName"), "Select", new { @class = "form-control validate[required]", @id = "MCountry", @name = "MCountry" })                               
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                State
                            </label>
                            <div class="col-md-5">
                               @Html.DropDownList("MState", new SelectList(client.GetStateLst(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "MState", @name = "MState" })
                                <span class="help-block">

                                </span>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                City
                            </label>
                            <div class="col-md-5">
                               @Html.DropDownList("MCity", new SelectList(client.GetCityLst(Login.OrganizationId).Select(a => new { Id = a.Id, Name = a.Name }), "Id", "Name"), "Select", new { @class = "form-control validate[required]", @id = "MCity", @name = "MCity" })                            
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Street
                            </label>
                            <div class="col-md-5">
                                <input type="text" id="MStreet" class="form-control" name="MStreet" />
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Zip Code
                            </label>
                            <div class="col-md-5">
                                <input type="text" id="MZipCode" class="form-control" name="MZipCode" />
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                <button type="button" id="btnmodalsave" class="btn blue">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Css{
    <style>
         .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }

            .fileUpload input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
             .tabletools-dropdown-on-portlet {
            margin-top: -50px;
            margin-right: 5px;
        }
    </style>
}

@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="@Url.Content("~/")assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="@Url.Content("~/")assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/")assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/")assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="@Url.Content("~/")assets/global/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/")assets/Programmer/Scripts/Person/formwizardeditperson.js"></script>
    <script src="@Url.Content("~/")assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
   <script>

    jQuery(document).ready(function () {
        FormWizard.init();
        $("#AddCompany").hide();

        $('#AddCompany').live('click', function () {
            $('#large').modal('show');
            $('#btnmodalsave').live('click', function () {
                $('#large').modal('hide');
            });
        });

        $("#companyislisted").live('click', function () {
            if ($("#companyislisted").prop('checked') == true) {
                $("#AddCompany").show();
                $("#Company").prop('disabled', true);

            }
            else {
                $("#AddCompany").hide();
                $("#Company").prop('disabled', false);
            }
        });
    });
    /*------------------------------------------------------------*/
    $('#form_wizard_1 .button-submit').click(function () {

        var Company;
        var id = $('#Id').val();

        var PersonData = {
            'Id': $('#Id').val(),
            'RPnumber': $('#RPnumber').val(),
            'Passport': $('#Passport').val(),
            'PersonModeId': $('select[name="PersonModeId"] option:selected').val(),
            'SalutationId': $('select[name="SalutationId"] option:selected').val(),
            'FirstName': $('#FirstName').val(),
            'MiddleName': $('#MiddleName').val(),
            'LastName': $('#LastName').val(),
            'NickName': $('#NickName').val(),
            'GenderId': $('select[name="GenderId"] option:selected').val(),
            'Dob': $('#Dob').val(),
            'Mobile': $('#Mobile').val(),
            'Phone': $('#Phone').val(),
            'Email': $('#Email').val(),
            'Nationality': $('select[name="Nationality"] option:selected').val(),
            'LanguageId': $('[id*=LanguageId] option:selected').val(),
            'Country': $('select[name="Country"] option:selected').val(),
            'State_province': $('select[name="State_province"] option:selected').val(),
            'City': $('select[name="City"] option:selected').val(),
            'Street': $('#Street').val(),
            'ZipPostalcode': $('#ZipPostalcode').val(),
            'Occupation': $('#Occupation').val(),
            'Company': $('select[name="Company"] option:selected').val(),
            'CreateDate': $('#CreateDate').val(),
            'LocationLatitude': $('#Locationlongitude').val(),
            'Locationlongitude': $('#Locationlongitude').val(),
        };

        var PersonCompanyData = {
            'Name': $('#Mcompany').val(),
            'CompanyMode': $('select[name="MCompanyMode"] option:selected').val(),
            'CountryId': $('select[name="MCountry"] option:selected').val(),
            'StateId': $('select[name="MState"] option:selected').val(),
            'CityId': $('select[name="MCity"] option:selected').val(),
            'Street': $('#MStreet').val(),
            'ZipCode': $('#MZipCode').val()
        };


        if ($("#companyislisted").prop('checked') == true) {
            alert("Checked");
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Content("~")PersonCompany/AddPersonCompany',
                data: ({ PersonCompany: PersonCompanyData }),
                success: function (response, textStatus, jqXHR) {
                    if (response != null) {
                        alert(response.ID);
                        Company = response.ID;
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Content("~")SalesManagement/EditPerson',
                            data: ({ persontbl: PersonData, CompanyExternal: Company }),
                            success: function (response) {
                                if (response == 'True') {
                                    bootbox.alert("Person Edited Successfully!", function () {
                                        window.location.href = '@Url.Content("~")SalesManagement/SalesAgentView';
                                    });
                                }
                                else {
                                    bootbox.alert("Error, could not complete the action!", function () {
                                        window.location.reload();
                                    });

                                }
                            }

                        });

                    }
                    else {
                        bootbox.alert("Error, could not complete the action!", function () {
                            window.location.reload();
                        });

                    }
                }
            });
        }

        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~")SalesManagement/EditPerson',
                data: ({ persontbl: PersonData, CompanyExternal: Company }),
                success: function (response) {
                    if (response == 'True') {
                        bootbox.alert("Person Edited Successfully!", function () {
                            window.location.href = '@Url.Content("~")SalesManagement/ManagePerson/?id=' + id;
                        });
                    }
                    else {
                        bootbox.alert("Error, could not complete the action!", function () {
                            window.location.reload();
                        });

                    }
                }

            });

        }

    }).hide();
       /*----------------------------------------------------*/
       $("#Country").live('change',function () {

           alert();
           var postdata = { ID: $("#Country option:selected").val() }
           $.ajax({
               type: "GET",
               url: '@Url.Content("~")Employee/LoadState',
               data: postdata,
               success: function (data) {
                   $("#State_province").empty();
                   $("#State_province").append("<option value=\"\">Select</option>");
                   $.each(data, function (key, val) {
                       $("#State_province").append("<option value=" + val.Id + ">" + val.Name + "</option>");
                   });
               },
               traditional: true
           });
       });

       $("#State_province").live('change', function () {

           var postdata = { ID: $("#State_province option:selected").val() }
           $.ajax({
               type: "GET",
               url: '@Url.Content("~")Employee/LoadCity',
               data: postdata,
               success: function (data) {
                   $("#City").empty();
                   $("#City").append("<option value=\"\">Select</option>");
                   $.each(data, function (key, val) {
                       $("#City").append("<option value=" + val.Id + ">" + val.Name + "</option>");
                   });
               },
               traditional: true
           });
       });
</script>
    
    }


