@using FramWork.HelloService;
@model PagedList.IPagedList<PersonLead>
@using PagedList.Mvc;
@{
    Layout = null;
}

<div class="table-scrollable">
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th><i class="fa fa-child"></i> Name</th>
                @*<th><i class="fa fa-mobile-phone"></i> Business Phone</th>*@
                <th><i class="fa fa-envelope-square"></i> Email</th>
              
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

           
    <tr>
        <td class="highlight">
            <div class="success">
            </div>
            <a href="~/SalesManagement/LeadStage?id=@item.Id" class="personname" id="@item.Id">@item.FullName</a>
            <input type="hidden" id="@item.Id">
        </td>
        @*<td class="hidden-xs">
          @item.Person.Mobile
            
        </td>*@
        <td>
            @item.Person.Email
        </td>
  
    </tr>

            }
            
           
        </tbody>
    </table>
</div>

<br />
<div id="lstpersonpager1">
    @Html.PagedListPager(Model, page => Url.Action("ListOfPersonLead", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>


